version: '3.0'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    ports:
      - "3336:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wallet_service_db
    volumes:
      - mysql_data:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:4.1.1-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER : guest
      RABBITMQ_DEFAULT_PASS : guest

  wallet-service:
    build: .
    container_name: wallet_service
    ports:
      - "5004:5004"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/wallet_service_db?autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

      # Kết nối RabbitMQ
      # Quan trọng: Host là "rabbitmq" (tên service)
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest

        # Cổng Server
      SERVER_PORT: 5004

        # VNPAY (localhost:5004 vì trình duyệt của user gọi)
      VNPAY_TMN_CODE: JTWT0WYG
      VNPAY_HASH_SECRET: TGMEKWOC5FCMO8NH3CEK4CB4ZHH3SQUY
      VNPAY_RETURN_URL: http://localhost:5004/api/payments/vnpay-return
      VNPAY_IPN_URL: https://a32fea6d8c0c.ngrok-free.app/api/payments/vnpay-ipn # (Phải dùng ngrok)

        # Secrets
      JWT_SECRET: "YourSuperSecretKeyThatIsAtLeast32CharactersLong!"
      JWT_ISSUER: "CarbonTC.Auth"
      JWT_AUDIENCE: "CarbonTC.Services"

        # Cloudinary
      CLOUDINARY_CLOUD_NAME: dxzk5p80d
      CLOUDINARY_API_KEY: 144885277356732
      CLOUDINARY_API_SECRET: UzqKa5b-EjwkqUCtGaNaRBfBFU0

        # Config
      ADMIN_USER_ID: "uuid-cua-admin-vi-du-12345"

    depends_on:
      - mysql
      - rabbitmq
volumes:
  mysql_data: